html {
  line-height: 1.5;
  font-family: Georgia, serif;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  color: #512200;
  background-color: #f0eee8;
  margin: 0 0 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Dosis", sans-serif;
}

a .btn {
  text-decoration: none;
}

.link-card:hover {
  background-color: #9a816d;
}

dt {
  float: left;
  clear: left;
}

dd {
  margin: 0;
}
