html {
  line-height: 1.5;
  font-family: Georgia, serif;
  box-sizing: border-box;
  text-align: left;
  color: #785439;
  background-color: #f0eee8;
  margin: 0 0 1rem;
  font-size: 1rem;
  padding: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  display: block;
  text-decoration: none;
  color: #512200;
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #9a816d;
  border-radius: 8px;
  padding: 1rem;
  background-color: #dcd4cd;
}

a:hover {
  background-color: #cabdb2;
}

dl {
  display: block;
  border: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left: 0;
  border-right: 0;
  border-color: #785439;
  font-size: .875rem;
}

dd {
  width: 45%;
  display: inline-block;
  margin: 0;
  font-style: italic;
}

dt {
  width: 45%;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding:.4em .75em .5em;
  border-width: 2px;
  border-radius: 8px;
  background-color: #785439;
  color: #f0eee8;
  border-style: solid;
  border-color: #785439;
}

.btn:hover {
  background-color: #512200;
  border-color: #512200;
}

span {
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}
